<div id="wrapper">
    <form id="newvid">
        <input class="round" type="text" name="url" id="url" placeholder="http://www.youtube.com/watch?v=kOGBIbqXwYE" />
        <input class="round" type="submit" id="submit" />
    </form>
    <div id="letsdothis">
        <a href="#" >Start the party!</a>
    </div>
    <div id="video_wrapper">
    	<div id="video_container"></div>
    </div>
    <div id="videos" class="clear">
    </div>
</div>
<div id="video_container_fs"></div>